<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="col-md-6 mb-30px">
    <div class="listfeaturedtag h-100">
        <div class="row h-100">
            <div class="col-12 col-md-12 col-lg-7">
                <div class="h-100 card-group">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">
                                {{ post.title }}
                            </h2>

                            <h4 class="card-text"><b>{{ post.description | strip_html }}</b></h4>
                            <h4 class="card-text">
                                {% assign paragraphs = post.content | split: "</p>" %}
                                {% if paragraphs.size > 1 %}
                                {{ paragraphs[1] | append: "</p>" | strip_html }}
                                {% else %}
                                {{ post.excerpt | strip_html }}
                                {% endif %}
                            </h4>
                        </div>
                        <div class="card-footer b-0 bg-white mt-auto">
                            <div class="wrapfooter">
                                <div class="post-date">
                                {{ post.date | date_to_string }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->