<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% if post.image %}

                    {% if site.lazyimages == "enabled" %}
                        <img class="img-fluid lazyimg" style="width: 350px; height: 200px; object-fit: cover;"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" 
                            data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" 
                            alt="{{ post.title }}">
                    {% else %}
                        <img class="img-fluid" style="width: 350px; height: 200px; object-fit: cover;"
                            src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" 
                            alt="{{ post.title }}"> 
                    {% endif %}

                {% endif %}
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {% if post.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                {% include star_rating_postbox.html %}
                </div>
                {% endif %}
            </h2>
            <h4 class="card-text"><b>{{ post.description | strip_html | truncatewords:30 }}</b></h4>
            <h4 class="card-text">
                {% assign paragraphs = post.content | split: "</p>" %}
                {% if paragraphs.size > 1 %}
                {{ paragraphs[1] | append: "</p>" | strip_html | truncatewords:15 }}
                {% else %}
                {{ post.excerpt | strip_html | truncatewords:15 }}
                {% endif %}
            </h4>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                <div class="post-date">
                {{ post.date | date_to_string }}
                </div>
                <div class="post-read-more" style="flex: 1; text-align: right; white-space: nowrap;">
                <a href="{{ site.baseurl }}{{ post.url }}" title="Read Story" style="text-decoration: underline;">
                    Read More
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->