---
layout: default
---

<section class="recent-posts">
  <div class="section-title">
    <h2><span>{{ page.category | capitalize }} Stories</span></h2>
  </div>

    <p>Looking for posts in category: <code>{{ page.category }}</code></p>
    <p>Total posts: {{ site.posts | size }}</p>
    <ul>
        {% for post in site.posts %}
            {% if post.categories contains cat %}   
            <li>{{ post.title }} — categories: {{ post.categories | join: ", " }}</li>
            {% endif%}
        {% endfor %}
    </ul>


  <div class="postlist">
    {% assign cat = page.category %}
    {% for post in site.posts %}
      {% if post.categories contains cat %}
        {% include postlist.html %}
      {% endif %}
    {% endfor %}
  </div>
</section>

